body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  /* height: 100vh; */
  /* border-collapse: collapse; */
}

th,
td {
  padding: 12px;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.High-School {
  background-color: rgb(126, 217, 87); /* Lightest green on website */
  /* rgb(111, 205, 10) */
  /* rgb(94, 189, 10) */
  /*  rgb(77, 173, 10)*/
  /*  rgb(60, 158, 9)*/
  /*  rgb(43, 142, 7)*/
  /* \rgb(25, 128, 55) */ /* Darkest green on website */

  /* rgb(233, 118, 1) */ /* Orange color from website */
}

.Associates {
  background-color: rgb(111, 205, 10);
}

.Bachelors {
  background-color: rgb(94, 189, 10);
}

.Masters {
  background-color: rgb(77, 173, 10);
}

.Medical-Grad {
  background-color: rgb(60, 158, 9);
}

.Post-Grad {
  background-color: rgb(43, 142, 7);
}

.Specialization {
  background-color: rgb(25, 128, 55);
}

#education:hover,
.licenses:hover,
.profession:hover {
  cursor: pointer;
  background-color: rgb(219, 214, 219);
}

.licenses {
  background-color: rgb(237, 237, 237);
}

.profession {
  background-color: rgb(246, 246, 246);
}

#education li,
.licenses li,
.profession li {
  list-style: none;
}

li:hover {
  text-decoration: underline;
}
