body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

table {
  width: 100%;
  /* border-collapse: collapse; */
}

th,
td {
  padding: 12px;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.High-School {
  background-color: rgb(126, 217, 87);
  /* rgb(25, 128, 55) */
}

#education:hover,
.licenses:hover,
.profession:hover {
  cursor: pointer;
  background-color: rgb(219, 214, 219);
}

.licenses {
  background-color: rgb(237, 237, 237);
}

.profession {
  background-color: rgb(246, 246, 246);
}

#education li,
.licenses li,
.profession li {
  list-style: none;
}
